.NavBar {
    position: fixed;
    background-color: gray;
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.center {

}

.right {

}

.menuIcon {

}

.menuIcon:hover {
    cursor: pointer;
}

#menu {
    font-size: 1.5em;
    margin: 20px
}

.logoContainer {
    height: 100%;
    width: 23%;
    object-fit: cover;
}

#logo {
    margin-top: 17%;
    width: 100%;
    height: 100%;
}